header{
    height: 500px;
    position: relative;
    background-color: #3D9CED;
    background-image: linear-gradient(
        160deg,
        #ed3dc1,
        #f0d55f
    );
    // F0715F
    nav{
        height: 50px;
        // background-color: #fafafa;
    }

    svg{
        width: 100%;
        height: auto;
        color: #ffcd00;
        position: absolute;
        bottom: -1px;
        left: 0; 
    }
}